@model Identity.Models.DTO.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style 
</head>
<body> 
    <form asp-action="Login" method="post">
        <div class="container">
            <label asp-for="Username">Username</label>
            <input type="text" asp-for="Username" />
            <div class="msg">
                <span asp-validation-for="Username"></span>
            </div>
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" />
            <div class="msg">
                <span asp-validation-for="Password"></span>
            </div>
            @if (TempData["msg"] != null)
            {
                <div class="msg">
                    @TempData["msg"]
                </div>
            }
            <input type="submit" value="Login" />
            <a href="/UserAuthentication/Registration">Not a user ? click here to sign up</a>
        </div>
    </form>
</body>
</html>
